@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  padding: 8px 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.m-p-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.header-wrapper {
  padding: 23px 60px 50px 60px;
  color: #000000;
  background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.wrapper {
  width: 100%;
}

.main-header .logo {
  display: block;
  width: 164px;
  height: 35px;
  margin-bottom: 21px;
}

.main-header .logo:hover {
  opacity: 0.6;
}

.main-header .logo:active {
  opacity: 0.3;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  display: flex;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin-right: 100px;
}

.search-form input[type="search"] {
  margin-right: auto;
  background-color: transparent;
  border: none;
  opacity: 1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-form input[type="search"]:hover {
  opacity: 0.6;
}

.search-form input[type="search"]:focus,
.search-form input[type="search"]:active {
  opacity: 1;
  outline: none;
}

.search-form::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  margin-right: 19px;
  margin-left: 3px;
}

.search-form button {
  padding: 10px 15px;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: 2px solid #000000;
}

.search-form button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-form button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-form button:focus {
  color: #ffffff;
  background-color: #000000;
}

.user-nav-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Open Sans Light", "Arial", sans-serif;
}

.user-nav-header a,
.user-nav-header a:visited {
  color: #000000;
}

.user-nav-header a:hover,
.user-nav-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-header a:active,
.user-nav-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-header .user-nav-logout {
  padding-left: 11px;
}

.user-nav-header .user-nav-compare {
  position: relative;
  margin-left: auto;
  margin-right: 40px;
}

.user-nav-header .user-nav-cart {
  position: relative;
}

.user-nav-header .user-nav-login a {
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-position: 0px center;
  background-repeat: no-repeat;
  padding: 11px;
  padding-left: 27px;
}

.user-nav-header .user-nav-compare a {
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  padding-right: 2px;
  background-position: 1px center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.user-nav-header .user-nav-cart a {
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  padding-right: 0px;
  background-position: 0px center;
  background-repeat: no-repeat;
  padding-left: 23px;
}

.main-nav-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-nav-sublist {
  position: absolute;
  left: -60px;
  z-index: 1;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  padding: 27px 550px 29px 62px;
  letter-spacing: 0px;

  background-color: #f7e296;
}

.main-nav-list a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-nav-sublist > li {
  padding-bottom: 12px;
  font-family: "Open Sans Light", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
}

.main-nav-sublist > li:first-child {
  margin-right: 21px;
}

.main-nav-sublist>li:nth-child(2) {
  margin-right: 38px;
}

.main-nav-sublist>li:nth-child(5) {
  margin-right: auto;
  margin-left: 87px;
}

.main-nav-sublist>li:last-child {
  width: 100%;
}

.nav-item-catalog > a::after {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  margin-left: 10px;
}

.main-nav-list > li:hover .main-nav-sublist {
  display: flex;
}

.nav-item.nav-item-delivery {
  margin-left: 295px;
}

.nav-item.nav-item-warranty {
  margin-left: 34px;
}

.nav-item.nav-item-contacts {
  margin-left: auto;
  margin-right: -4px;
}

.main-nav-list a,
.main-nav-list a:visited,
.main-nav-sublist a,
.main-nav-sublist a:visited {
  color: #000000;
}

.main-nav-list a:hover,
.main-nav-sublist a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav-list a:active,
.main-nav-sublist a:active {
  color: rgba(0, 0, 0, 0.3);
}



.slide-content {
  color: #000000;
}

.slide-title {
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.slide-table .table-th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #464646;
}

.slide-table .table-td {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.popular-list {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  list-style: none;
}

.popular-item {
  background-color: #f7e196;
}

.popular-item:hover {
  background-color: #f0c42e;
}

.popular-item:active {
  opacity: 0.3;
}

.popular-item a,
.popular-item a:visited {
  color: #000000;
}

.services-btn-list {
  list-style: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 4px;
  color: #000000;
  text-align: center;
}

.services-btn-list .button {
  background-color: transparent;
  border: none;
}

.services-btn-list .btn-current {
  background-color: #000000;
  color: #f7e184;
}

.partners-list {
  list-style: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.partners-item a:hover::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
}

.dji:hover::before {
  background-image: url("../img/logo-1-hover.jpg");
}

.sp-gadgets:hover::before {
  background-image: url("../img/logo-2-hover.jpg");
}

.gopro:hover::before {
  background-image: url("../img/logo-3-hover.jpg");
}

.vive:hover::before {
  background-image: url("../img/logo-4-hover.jpg");
}

.about {
  position: relative;
  display: flex;
  margin-bottom: 87px;
  padding-top: 54px;
}

.about-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  margin: 0;
  margin-bottom: 43px;
}

.about-info p {
  margin-bottom: 30px;
}

.about-wrapper::before {
  content: "";
  position: absolute;
  top:0;
  width: 80px;
  height: 7px;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.about-info {
  width: 460px;
}

.about-contacts {
  width: 560px;
  margin-left: auto;
}

.about-contacts p {
  margin-bottom: 38px;
}

.about-list {
  padding-top: 5px;
  padding-left: 0;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  margin-bottom: 59px;
}

.about-list li {
  position: relative;
  padding-left: 36px;
}

.about-list li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.about-contacts .button {
  margin-left: 19px;
}

.about-map-min {
  display: block;
  margin-bottom: 65px;
}

.footer {
  background-color: #464646;
  padding-top: 63px;
}

.footer a,
.footer p {
  color: #ffffff;
}

.footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 23px;
}

.footer .logo {
  margin-right: auto;
}

.footer .logo:hover {
  opacity: 0.6;
}

.footer .logo:active {
  opacity: 0.3;
}

.user-nav-footer {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-between;
  min-width: 325px;
  margin-left: auto;
}

.footer .user-icon {
  width: 13px;
  height: 12px;
  margin-right: 14px;
}

.footer .compare-icon {
  margin-right: 10px;
}

.footer .cart-icon {
  margin-right: 10px;
}

.user-nav-footer a,
.user-nav-footer a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.user-nav-footer a:hover {
  color: rgba(255,255,255, 1);
}

.user-nav-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav-footer a,
.main-nav-footer a:visited {
  color: rgba(255, 255, 255, 1);
}

.main-nav-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 480px;
  padding-top: 6px;
  padding-right: 45px;
  padding-left: 9px;
}

.ribbon::before {
  content: "";
  width: 80px;
  height: 7px;
  margin-bottom: 13px;
  background-color: #000000;
}

.footer .ribbon::before {
  background-color: #ffc600;
}

.social-list {
  display: flex;
  width: 141px;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  margin-right: 53px;
}

.social-list a {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-repeat: no-repeat;
}

.social-list .facebook {
  background-image: url("../img/fb.svg");
}

.social-list .instagram {
  background-image: url("../img/instagram.svg");
}

.social-list .twitter {
  background-image: url("../img/twitter.svg");
}

.copyright a {
  display: block;
  width: 27px;
  height: 35px;
  font-size: 0;
  line-height: 0;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}
/*--catalog page--*/
.page-intro {
  margin-bottom: 47px;
}

.page-title {
  margin-bottom: 23px;
  padding: 0 60px;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0 60px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #000000;
}

.breadcrumbs > li {
  padding-right: 20px;
}

.breadcrumbs :not(:last-child)::after {
  display: inline-flex;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  margin-left: 12px;
}

.breadcrumbs a,
.breadcrumbs a:visited {
  color: #b2b2b2;
}

.breadcrumbs a:hover {
  color: #666666;
}

.breadcrumbs a:active {
  color: #e5e5e5;
}

.catalog-header {
  min-height: 70px;
  background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.catalog-header > .container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #dbdbdb 348px, #ebebeb 348px);
}

.sidebar-header {
  display: flex;
  align-items: center;
  min-width: 328px;
  min-height: 70px;
  padding-left: 62px;
}

.filter-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sort-title {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content-header {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding-left: 71px;
}

.catalog-page-content {
  background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);
}

.catalog-page-content > .container {
  display: flex;
  width: 1160px;
  padding-right: 0px;
  background-image: linear-gradient(to right, #efefef 328px, #ffffff 328px);
}

.catalog-page-sidebar {
  min-width: 288px;
  margin-right: 91px;
}

.filter-settings {
  padding-top: 72px;
  padding-left: 46px;
}

.filter-item {
  border: none;
}

.filter-legend {
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.filter-options-list {
  list-style: none;
}

.filter-option {
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.filter .button {
  border: none;
  background-color: transparent;
}

.catalog-main-content {
  margin-bottom: 77px;
}

.catalog-list {
  margin-bottom: 60px;
}

.catalog-list-item:not(:last-child):nth-child(2n-1) {
  margin-right: 40px;
}

.catalog-list-item .catalog-list-actions {
  display: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-item-title {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.catalog-item-title a,
.catalog-item-title a:visited,
.catalog-item-title a:active {
  color: #000000;
}

.catalog-list-item {
  max-width: 360px;
  margin-top: 70px;
}

.catalog-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

.catalog-item-title {
  float: left;
}

.catalog-item-price {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #464646;
  text-align: right;
}

.sort-list {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.sort-action {
  opacity: 0.3;
}

.sort-action:hover {
  opacity: 0.6;
}

.sort-action:active {
  color: #000000;
  opacity: 1;
}

.sort-action.arrow-up::before,
.sort-action.arrow-down::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}

.sort-action.arrow-up,
.sort-action.arrow-down {
  font-size: 0;
}

.sort-action.arrow-up::before {
  background-image: url("../img/icon-up-dir.svg");
}

.sort-action.arrow-down::before {
  background-image: url("../img/icon-down-dir.svg");
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  padding: 23px 30px;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #a4a4a4;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #ebebeb;
}

.pagination-item a:visited {
  color: inherit;
}

.pagination-current,
.pagination-button {
  color: #000000;
}

.pagination-button:hover {
  background-color: #d9d9d9;
}

.pagination-button:active {
  background-color: #d9d9d9;
  color: #979797;
}